<!DOCTYPE htmlPUBLIC "-//W3C//DTDXHTML1.0Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Memorails hosting</title>
<%=stylesheet_link_tag "memorails",:media=> "all" %>
</head>
  <body id="store">
    
    <%
      id = session[:user_id]
      if id
        @user = User.find(id)
      end
    %>
    <table id="banner_table">
      <tr>
        <td>
          <%= link_to image_tag("memorails.jpg"), :action => 'index' %>
        </td>
        <td>
          Just hosting it...
        </td>
        <td>
          <%=render(:partial=> "auth",:object=>@user)%>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <div id="search_line">
            <input id="search" type="text" name="serch"/>
            <%=button_to "Search",:action=>:search%>
            <%=button_to "Advanced Search",:action=>:advanced_search%>
          </div>
        </td>
      </tr>
    </table>

    <div id="columns">

      <div id="side">
        <div id="categories">
          <%=render(:partial=> "categories",:object=>@categories)%>
        </div>
      </div>

      <div id="east">
        <a href="http://www.google.com">Home</a><br/>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <%= link_to 'Add..', new_picture_path %>
        
      </div>

      <div id="main">
        <%=yield:layout%>
      </div>
    </div>
  </body>
</html>